{% extends "base_generic.html" %}

{% load static %}

{% block title %} <title>Enfermeria</title> {% endblock %}

{% block jumbo %} 
<div class=" p-5 bg-primary text-white rounded ">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1>Inicia Sesi&oacute;n</h1>
        </div>
     <div class="row">
         <div class="d-flex justify-content-center"> 
            <p>Estado en tiempo real de esa persona que tanto te importa</p>
         </div>
     </div>   

{% endblock%}